html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background: #000 url(../img/patern.svg) top left;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.body--lock {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @media (max-width: 960px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  max-width: 920px;
  font-family: var(--font-family);
  font-size: 64px;
  line-height: 88px;
  color: var(--light-color);

  @media (max-width: 960px) {
    font-size: 45px;
    line-height: 60px;
  }

  @media (max-width: 760px) {
    font-size: 34px;
    line-height: 48px;
  }

  @media (max-width: 760pxsmall) {
    font-size: 28px;
    line-height: 42px;
  }
}

.site-container {
  overflow: hidden; // if you use position: sticky on the site, remove this setting
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}
