:root {
  // base
  --font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  --content-width: 1298px;
  --container-offset: 24px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --light-color-opacity: rgba(255, 255, 255, 0.4);
  --body-bg: #ff0;
  --main-bg: #333333;
  --second-bg: #121212;
}
